@model Models.EmployeeSalary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeSalary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @Html.RouteLink("Edit Info", routeName: "EmployeeSalaryEdit", routeValues: new { id = Model.Id }) |
    @Html.RouteLink("Undo Employee Salary", routeName: "EmployeeSalaryUndo", routeValues: new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
